* {
  box-sizing: border-box;
}


html {
	height: 100%;
	margin: 0;
	background: hsl(257, 40%, 49%) url("images/bg-desktop.svg") left fixed no-repeat;
	color: white;
	
}



h1 {
	font-family: "Poppins", sans-serif;
	
}

p {
	font-family: "Open Sans", sans-serif;
}

.row {
	display: flex;
	align-items: center;
	
	
	
}



.col1 {
	flex: 53%;
	margin: 35px 20px 20px 50px;
}

.col2 {
	flex: 47%;
	margin: 40px 20px 20px 30px;
	
	
}
	
#mockimg {
	height: 90%;
	width: auto;
}
.content {
	max-width: 100%;
	line-height: 1.5;
}

.register {
	width: 175px;
	height: 50px;
	border-radius: 25px;
	padding: 10px;
	color: hsl(257, 40%, 49%);
	filter: drop-shadow(0 0 5px #352955);
	background-color: white;
	border-color: transparent;
	font-size: 15px;
	margin: 5px 0;
}	

.social {
	position: absolute; 
	bottom: 20px; 
	right: 150px; 
	padding: 20px;
}
	

.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1.5px solid white;
	background-color: transparent;
	color: white;
	margin: 7px;
	text: center;
	
}



#mockup {
	padding: 25px 0;
	
}

#logimg {
	width: 25%;
	height: auto;
	padding: 10px 10px 50px;
}
