html, body {
	height: 100%;
	background-color: hsl(257, 40%, 49%);
	color: white;
}

body {
	display: flex;
	flex-direction: column;
	font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.container {
	flex: 1 0 auto;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.footer {
	flex-shrink: 0;
}

h1 {
	font-family: "Poppins", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
}

/* NARROW */
.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1.5px solid white;
	background-color: transparent;
	color: white;
	margin: 7px;
	text: center;
	
}

@media screen and (min-width: 100px) and (max-width: 375px) {
  html {
	background: hsl(257, 40%, 49%) url("images/bg-mobile.svg") top fixed no-repeat;
  }
  
  .images {
	width: 100%; 
	}
	
  #logo {
	width: 40%; 
	padding: 25px 0 0 25px;
	}
	
	#mockup {
	display: block;
	width: 90%;
	margin: auto;
	padding: 60px 5px 0;
	}
	
	.heading {
	  font-weight: 600;
	  font-size: 1.5em;
	  margin-top: 55px;
  }
	.content {
	padding: 0 10px 5px 10px;	
	width: 100%;
	text-align: center;
	line-height: 1.5;
	}
	
	p {
	padding: 0 10px;
		
	}
	.social {
	float: none;
	padding: 60px 0 0 0;
	}
	
	.images {
	margin: 0;
	width: 100%;
	}
	
	.button {
	width: 65%;
	height: 40px;
	border-radius: 25px;
	padding: 10px 0;
	color: hsl(257, 40%, 49%);
	filter: drop-shadow(0 0 5px #352955);
	background-color: white;
	border-color: transparent;
	font-size: 15px;
	margin: 5px 0;
	}	
		
}

/* Medium */

@media screen and (min-width: 375px) {
	html {
    background: hsl(257, 40%, 49%) url("images/bg-desktop.svg") left fixed no-repeat;
	}
  
  .heading {
	  font-weight: 600;
	  font-size: 2.2em;
  }
	.images {
	width: 55%; 
	padding: 50px 20px 0 60px;
	float: left;
	}

	.content {
	width: 45%; 
	float: right;
	line-height: 1.5;
	padding: 180px 100px 0 20px;
	}
	
	.info {
	width: 87%; 
	float: left;
	line-height: 1.5;
	padding: 0 25px 0 0;
	}
	
	.social {
	float: right;
	padding: 200px 80px 0 0;
	}
	
	.button {
	width: 175px;
	height: 50px;
	border-radius: 25px;
	padding: 10px;
	color: hsl(257, 40%, 49%);
	filter: drop-shadow(0 0 5px #352955);
	background-color: white;
	border-color: transparent;
	font-size: 15px;
	margin: 5px 0;
	}	

	#mockup {
	width: 95%;
	padding-top: 15px;
	}
	
	#logo {
	width: 25%;
	padding: 0 10px 50px;
	}
}


